
.panel
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    background-color: black;
}

.header_item
{
    text-align: center;
    font-size: large;
    color: white;
}